body {
	max-width: 1440px;
	height: 2700px;
	margin-left: auto;
	margin-right: auto;
}
/*Шапка*/
.navBar {
	width: 1341px;
	margin-left: auto;
	margin-right: auto; 
	height: 51px;
	display: flex;
	font-size: 15px;
	line-height: 18px;
}
.navBar__logo {
	width: 166px;	
}
.navBar__Center {
	display: flex;
	align-items: center;
	text-decoration: none;
	margin: 0 0 0 271px;
}
.navBar__modelS {
	width: 62px;
	padding: 0;
	display: inline;
	position: relative;
	text-decoration: none;
	color: #E51937;
}
.navBar__modelS svg {
	position: absolute;
	left: -3px;
	bottom: 1px;
}
.navBar__model {
	display: inline;
	text-decoration: none;
	margin: 0 0 0 44px;
	color: black;
}
.navBar__modelE {
	display: inline;
	text-decoration: none;
	margin: 0 0 0 46px;
	color: black;
}
.navBar__Right {
	display: flex;
	align-items: center;
	margin: 0 0 0 212px;
}
.navBar__item {
	display: inline;
	text-decoration: none;
	color: black;
	margin: 0 30px 0 0;
}
.navBar__menu svg {
	
}

/*Приветствие*/
.header__tittle {
	clear: left;
	text-align: center;
}
.header__text {
	text-align: center;
}
/*Основное изображение*/
.teslaModelS {
	max-width: 968px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 500px;
}
.teslaModelS__mainImg {
	max-width: 968px;
	margin-left: auto;
	margin-right: auto;
}
.teslaModelS__backImg {
	width: 1400px;
	opacity: .1;
	position: absolute;
	bottom: 220px;
	left:-220px;
	z-index: -1;
}
/*Характеристики под основным изображением; стили блоков, элементов*/
.underMain {
	clear: left;
	width: 798px;
	margin-left: auto;
	margin-right: auto; 
	height: 58px;
	display: flex;
}
.underMain__speed {
	display: inline-flex;
	align-items:  stretch;
	width: 154px;
	height: 58px;
}
.underMain__range {
	display: flex;
	align-items:  stretch;
	margin-left: 81px;
	width: 140px;
	height: 58px;
}
.Triangle {
	clear: left;
	width: 20px;
	margin: 29px auto 37px auto;
}

/*Стили текста в характеристиках*/
.underMain__text_big {
	display: inline-block;
	font-size: 35px;
	line-height: 43px;
	margin: -9px 0 0 14px;
}
.underMain__text_mid {
	display: inline-block;
	font-size: 20px;
	line-height: 24px;
}
.underMain__text_small {
	display: block;
	font-size: 12px;
	line-height: 15px;
	margin: -3px 0 0 14px;
}

/*Характеристики под основным изображением; кнопки*/
.underMain__test {
	width: 118px;			
	height: 40px;
	color: black;
	display: inline-flex;
	align-items:  center;
	margin-left: 105px;
}
.underMain__test svg {

}
.underMain__testText {
	padding-left: 10px; 
}
.underMain__whiteButton {
	text-decoration: none;
	color: #E51937;
	display: inline-flex;
	align-items: center;
	height: 40px;
	width: 160px;
	justify-content: center;
	outline: 2px solid #E51937;
	margin-left: 40px;
}

/*Изображение салона */
.future {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	height: 844px;
}
.future__img {
	z-index: -1;
	left: 0;
	top: 0;	
}
.future__Model_tittle {
	z-index: 1;
	position: absolute;
	top: 10px;
	left: 80px;
	color: #E51937;
	font-size: 70px;
}
/*Правая колонка*/
.future__aside {
	position: absolute;
	top:0;
	right: 0;
	width: 440px;
	height: 844px;
	background-color: #E51937;
	color: #FFFFFF;
}
.future__tittle {
	text-align: center;
	margin: 51px 72px 11px 52px;
	font-size: 30px;
	font-weight: 600;
	line-height: 37px;
}
.future__mainText {
	margin: 0 72px 66px 52px;
	font-size: 15px;
	font-style: medium;
	line-height: 18px;
}
/*Правая колонка - особенности*/
.future__item {
	margin: 0 0 35px 52px;
	display: flex;
	align-items: stretch;
}
.future__text {
	margin: -4px 0 0 19px;
}
/*Правая колонка - кнопки*/
.future__buttons {
	margin: 136px 0 0 49px;
	display: inline-flex;
	align-items: center;

}
.future__knowMoreBox { 		/*Добавил блок-обертку, чтобы сравнять по вертикали*/ 
	width: 160px;			/*"узнать больше" и "заказать", так, чтобы ссылка*/
	height: 40px;			/*"узнать больше" срабатывала только при наведении*/
	display: inline-flex;	/*непосредственно на текст*/ 
	align-items: center;
}
.future__knowMore {
	text-decoration: none;
	color: #FFFFFF;
	display: inline-flex;
	align-items:  center;
	margin-right: 22px;
}
.future__knowMore svg {

}
.future__knowMoreText {
	padding-left: 10px; 
}
.future__redButton {
	text-decoration: none;
	color: #FFFFFF;
	display: inline-flex;
	align-items: center;
	height: 40px;
	width: 160px;
	justify-content: center;
	outline: 2px solid #FFFFFF;

	
	

}











/*Изображение корпуса */
.security {
	position: relative;
	margin: 0;
	padding: 0;
}
.carFrame {
	position: absolute;
	top: 0;
	right: 0;
}

.carFrame__mainImg {
	position: absolute;
	z-index: -1;	
	top: 0;
	right: 0;
	max-width: 1000px;
}
.carFrame__backImg {
	position: absolute;
	z-index: -2;
	top: 0;
	right: 0;
	max-width: 1000px;
}



/*Левая колонка*/
.security__aside {
	position: absolute;
	top:0;
	left: 0;
	width: 400px;
	height: 844px;
	background-color: #E51937;
}